*.zip
/hw1/latex_template/
/hw1/.idea/
.DS_Store
/hw1/.DS_Store
/hw2/.DS_Store
/hw2/latex_template
/hw2/.idea
/hw3/latex_template
/hw3/.DS_Store
/hw3/.idea
/hw4/.idea
/hw4/latex_template
/hw4/.DS_Store
/hw5/__pycache__
/hw5/handout/
/hw5/.idea
/hw5/latex_template
/hw5/*.txt
/hw5/*.pkl
/hw5/*.csv
/hw5/.DS_Store
/hw6/.DS_Store
/hw6/*.zip
/hw7/.DS_Store
/hw7/.idea
/hw7/__pycache__
/hw7/handout/
/hw7/*.pkl
/hw7/*.txt
/hw7/result
/hw7/latex_template
/hw8/latex_template
/hw8/weight.out
/hw8/.DS_Store
/hw9/latex_template
/hw9/.DS_Store
